body {
  background-color: #62DDF5;
}

/*Styling header*/
.header {
  background-color: #62DDF5;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.logo {
  text-align: center;
  padding: 20px 20px;
}

.logo img {
  padding: 20px 20px;
  width: auto;
  height: 100px;
}

.headline {
  text-align: center;
  width: 70%;
}

.headline h1 {
  font-size: 100px;
  font-weight: bold;
  font-family: 'Circular Std', 'Helvetica';
}

.graphic {
  text-align: center;
}

.graphic img {
  height: auto;
  width: 90%;
}

.intro #user-name {
  font-weight: bold;
  font-family: 'Circular Std', 'Helvetica';
}


/*Styling tables*/
.report {
  background-color: #62DDF5;
  padding-bottom: 40px;
}

.container-sm {
  padding: 30px 20px;
  margin-top: 20px;
  background-color: #E8FAFE;
  border-radius: 5px;
}

.no-bg {
  background-color: transparent;
}

table {
  width: 100%;
  display: table;
  /*table-layout: fixed;*/
}

/*Table header styling*/
th {
  /*background-color: #62DDF5;*/
  border: none;
  /*padding: 3px 10px;*/
  text-align: left;
  height: 35px;
}

th span {
  background-color: #62DDF5;
  padding: 10px 15px;
  margin: 5px 3px;
  border-radius: 5px;
  font-weight: bold;
  font-family: 'Circular Std', 'Helvetica';
}

#shanghai h5 {
  font-style: italic;
}

#chengdu h5 {
  font-style: italic;
}

#shenzhen h5 {
  font-style: italic;
}

.table-name {
  margin-bottom: 15px;
  font-weight: bold;
  font-family: 'Circular Std', 'Helvetica';
}
/*Table header styling*/

/*Table rows styling*/
td {
  padding: 12px 0px;
  text-align: left;
  height: 35px;
  width: 65%;
  border-bottom: 1px solid #62DDF5;
}

td+td {
  width: auto;
}

.min, .med, .max {
  text-align: center;
}
/*Table rows styling*/

/*Footer styling*/

.footer {
  padding-top: 30px;
  position: relative;
  background-color: transparent;
}

.bg {
  width: 100vw;
  /*height: 500px;*/
  position: absolute;
  top: 200;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.7)), url('images/bg.jpg');
  /*background-attachment: fixed;*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.prompt {
  padding: 20px 30%;
  text-align: center;
}

.prompt h4 {
  margin-bottom: 0;
  font-weight: bold;
  font-family: 'Circular Std', 'Helvetica';
}

.prompt h4 span {
  border-bottom: 5px solid #fd1015;
  line-height: 150%
}


/*Bootcamp cards styling*/
.bootcamp {
  margin: 30px 25%;
}

.bootcamp .title {
  text-align: center;
  font-weight: bold;
  font-family: 'Circular Std', 'Helvetica';
}

.bootcamp .subtitle {
  color: gray;
  text-align: center;
  font-family: 'Circular Std', 'Helvetica';
}

.card {
  margin-top: 15px;
  padding: 20px 5%;
  text-align: center;
}

.card .date {
  font-weight: bold;
  font-family: 'Circular Std', 'Helvetica';
}

.card .schedule {
  font-weight: bold;
  font-family: 'Circular Std', 'Helvetica';
  margin-bottom: 20px;
}

.card .description {
  font-size: 20px;
  text-align: justify !important;
}

.card .cta {
  background-color: #FD1015;
  padding: 10px 0px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Circular Std', 'Helvetica';
}
/*Bootcamp cards styling*/

/*Remote option section*/
.remote {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  margin: 0 auto;
  margin-top: 50px;
}

.remote h3 {
  text-align: center;
  width: 80%;
  padding: 10px 20px;
  background-color: #ffe0e1;
  color: #fd1015;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 0px;
  font-weight: bold;
  font-family: 'Circular Std', 'Helvetica';
}

.remote .subtitle {
  text-align: center;
  width: 80%;
  background-color: transparent;
  color: black;
  margin-top: 0;

}

.remote .description {
  margin-top: 10px;
  width: 100%;
  text-align: justify;
  font-size: 20px;
}
/*Remote option section*/

/*About section*/
.about {
  width: 50%;
  margin: 0 auto;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.about #logo {
  width: 30%;
  height: auto;
  margin-bottom: 20px;
  margin-top: 50px;
}

.about #lewagon {
  width: 30%;
}

.about p {
  width: 70%;
  margin: 10px auto;
  margin-bottom: 20px;
  font-size: 20px;
}

.about #qr {
  width: 50%;
}

.about .motto {
  width: 90%;
  margin: 0 auto;
  font-size: 50px;
  font-weight: bold;
  padding: 80px 0;
  font-family: 'Circular Std', 'Helvetica';
}
/*About section*/
/*Footer styling*/
