body {
  background-color: #7E73FF;
}

/*Quiz banner*/
.quiz {
  height: 120px;
  border-radius: .3rem;
  top: 0;
  background-color: #fd1015;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.quiz a {
  color: white;
  text-decoration: none;
  font-size: 40px;
  font-weight: bold;
  font-family: 'Circular Std', 'Helvetica';
}

.icon {
  display: inline-block;
  font-size: 3vh;
  font-weight: bold;
  font-family: 'Circular Std', 'Helvetica';
  animation: float 2s infinite ease-in-out;
}

@keyframes float {
  0%  {transform: translateY(-0.5vh);}
  50%  {transform: translateY(0.5vh);}
  100%  {transform: translateY(-0.5vh);}
}
/*Quiz banner*/

/*Styling header*/
.header {
  background-color: #7E73FF;
  align-items: center;
  display: flex;
  flex-direction: column;
  /*height: 100vh;*/
}

/*/Code and survey cta interface*/
.code {
  text-align: center;
  margin-top: 5vh !important;
}

.code h2 {
  font-size: 33px;
  color: white;
  font-family: 'Circular Std', 'Helvetica';
  margin-top: 3vh;
}

.code .input {
  margin-top: 1vh;
  display: flex;
  justify-content: space-between;
}

.code input {
  height: 95px;
  font-size: 33px;
  text-align: left;
  width: 74%;
}

.code .report-btn {
  flex-shrink: 0;
  background-color: #fd1015;
  color: white;
  font-weight: bold;
  width: 24%;
  height: 95px;
  font-size: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: .3rem;
}

.spinner-border {
  margin-top: 10vh !important;
  width: 10vw;
  height: 10vw;
}

.code .oops {
  font-size: 35px;
  font-weight: bold;
}
/*/Code and survey cta interface*/

.logo {
  text-align: center;
  padding: 20px 20px;
}

.logo img {
  padding: 20px 20px;
  width: auto;
  height: 100px;
}

.headline {
  margin-top: 1vh;
  text-align: center;
  width: 70%;
  color: white;
}

.headline h1 {
  font-size: 100px;
  font-weight: bold;
  font-family: 'Circular Std', 'Helvetica';
}

.graphic {
  text-align: center;
}

.graphic img {
  height: auto;
  width: 100%;
}

.intro h3 {
  font-size: 45px;
  font-family: 'Circular Std', 'Helvetica';
}

.intro p {
  font-size: 30px;
  font-family: 'Helvetica';
}

.intro #user-name {
  font-weight: bold;
  font-family: 'Circular Std', 'Helvetica';
}
/*Styling header*/

/*Styling tables*/
/*.report {
  background-color: #62DDF5;
  padding-bottom: 60px;
}*/

.container-sm {
  max-width: 85vw !important;
  padding: 30px 20px;
  margin: 20px auto;
  background-color: #E8FAFE;
  border-radius: 5px;
}

.no-bg {
  background-color: transparent;
}

table {
  width: 100%;
  display: table;
  /*table-layout: fixed;*/
}

/*Table header styling*/
th {
  /*background-color: #62DDF5;*/
  border: none;
  padding: 15px 0px;
  text-align: left;
  height: 35px;
}

th span {
  background-color: #62DDF5;
  padding: 10px 15px;
  margin: 0px 5px;
  border-radius: 5px;
  font-size: 30px;
  font-weight: 600;
  font-family: 'Helvetica'
}

.report h2 {
  font-size: 45px;
  font-weight: bold;
  font-family: 'Circular Std', 'Helvetica';
}

#shanghai h5 {
  font-size: 30px;
  font-style: italic;
}

#chengdu h5 {
  font-size: 30px;
  font-style: italic;
}

#shenzhen h5 {
  font-size: 30px;
  font-style: italic;
}

.table-name {
  margin-bottom: 15px;
  font-size: 45px;
  font-weight: bold;
  font-family: 'Circular Std', 'Helvetica';
}
/*Table header styling*/

/*Table rows styling*/
td {
  font-size: 30px;
  font-family: 'Helvetica'
  line-height: 150%;
  padding: 12px 0px;
  text-align: left;
  height: 35px;
  width: 65%;
  border-bottom: 1px solid #62DDF5;
}

td+td {
  width: auto;
}

.min, .med, .max {
  text-align: center;
}
/*Table rows styling*/

/*Sharing section*/
.sharing {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.sharing h3 {
  font-size: 30px;
  font-weight: bold;
  font-family: 'Circular Std', 'Helvetica';
  margin-bottom: 0;
  line-height: 95px;
}

.sharing button {
  max-width: 40%;
  border: none;
  padding: 5px 35px;
  background-color: #fd1015;
  color: white;
  font-weight: bold;
  /*height: 95px;*/
  font-size: 30px;
  border-radius: .3rem;
}

.modal {
  width: 100vw;

}
/*/Sharing section;*/

/*Footer styling*/
.footer {
  padding-top: 30px;
  position: relative;
  background-color: transparent;
}

.bg {
  width: 100vw;
  /*height: 500px;*/
  position: absolute;
  top: 200vh;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  /*background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.7)), url('images/0.png');*/
  /*background-attachment: fixed;*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.prompt {
  padding: 20px 15%;
  text-align: center;
}

.prompt h4 {
  margin-bottom: 0;
  font-size: 35px;
  font-weight: bold;
  font-family: 'Circular Std', 'Helvetica';
}

.prompt h4 span {
  border-bottom: 5px solid #fd1015;
  line-height: 150%;
  color: white;
}


/*Bootcamp cards styling*/
.bootcamp {
  margin: 90px 10%;
}

.bootcamp .title {
  text-align: center;
  font-weight: bold;
  font-size: 45px;
  font-family: 'Circular Std', 'Helvetica';
}

.bootcamp .subtitle {
  font-size: 30px;
  font-weight: bold;
  color: white;
  text-align: center;
  font-family: 'Circular Std', 'Helvetica';
}

.card {
  margin-top: 15px;
  padding: 30px 5%;
  text-align: center;
}

.card .date {
  font-size: 45px;
  font-weight: bold;
  font-family: 'Circular Std', 'Helvetica';
}

.card .schedule {
  font-size: 30px;
  font-weight: bold;
  font-family: 'Circular Std', 'Helvetica';
  margin-bottom: 20px;
}

.card .description {
  font-size: 30px;
  text-align: justify !important;
}

.cta {
  height: 95px;
  border-radius: 5px;
  background-color: #FD1015;
  padding: 25px 0px;
  color: white;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Circular Std', 'Helvetica';
}
/*Bootcamp cards styling*/

/*Info option section*/
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  margin-top: 50px;
}

.info h3 {
  font-size: 40px;
  text-align: center;
  width: 80%;
  padding: 10px 20px;
  background-color: #ffe0e1;
  color: #fd1015;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 0px;
  font-weight: bold;
  font-family: 'Circular Std', 'Helvetica';
}

.info .subtitle {
  font-size: 40px;
  font-family: 'Circular Std', 'Helvetica';
  text-align: center;
  width: 80%;
  background-color: transparent;
  color: black;
  margin-top: 10px;

}

.info .description {
  margin-top: 10px;
  width: 100%;
  text-align: justify;
  font-size: 20px;
  font-size: 30px;
  font-family: 'Helvetica'
}

.info a {
  width: 70%;
  text-align: center;
  margin: 1vh 0;
}
/*Info option section*/

/*About section*/
.about {
  width: 70%;
  margin: 0 auto;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.about #logo {
  width: 40%;
  height: auto;
  margin-bottom: 20px;
  margin-top: 50px;
}

.about #lewagon {
  width: 40%;
}

.about p {
  /*width: 150%;*/
  margin: 10px auto;
  margin-bottom: 20px;
  font-size: 30px;
  font-family: 'Helvetica';
}

.about #qr {
  width: 50%;
}

.about .motto {
  /*width: 150%;*/
  margin: 0 auto;
  font-size: 55px;
  font-weight: bold;
  padding: 80px 0;
  font-family: 'Circular Std', 'Helvetica';
}
/*About section*/
/*Footer styling*/
